.icon {
  display: inline-block;
  width: 0.8em;
  height: 0.6em;
  font-size: 30px;
  fill: #D7DCE2;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-bg{
  background-image: url('300x250.png') !important;
  background-size: 100% 100%;
  height: 250px;
  width: 300px;
  position: relative;
  z-index: 0;
}
.container{
  position: relative;
  margin: 0px;
  height: 250px;
  width: 300px;
  background: #fff;
  display: block;
  /* overflow: hidden; */
  z-index: 20;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ad-title{
  text-align: center;
  position: relative;
  top: 20%;
  font-size:30px;
  font-style: italic;
}
.ad-title-play{
  text-align: center;
  position: relative;
  top: 10% !important;
  font-size:30px;
  font-style: italic;
}


.player {
  width: 100%;
  top: 88%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
.player.play .player__timeline {
  /* -webkit-transform: translateY(-90%);
          transform: translateY(-90%); */
}
.player.play .player__album:after {
  box-shadow: 0px 30px 28px -10px rgba(0, 0, 0, 0.2);
}
.player.play .player__album {
  /* top: -54px; */
  display: none;
}
.player.play .pause {
  display: inline-block;
}
.player.play .play {
  display: none;
}
.player__album {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-right: 22px;
  position: absolute;
  left: -1px;
  top: -38px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.player__album:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
}

.player__album:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.player__albumImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  display: none;
  /* margin-top: 1.2rem; */
  /* border: 3px solid blue; */
  left: 4px;
}
.player__albumImg.active-song {
  display: block;
  /* border: 10px solid #d14027; */
  padding: 0;
  display: none;
}

.player__bar {
  /* background: #fff;
  padding: 10px 25px;
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 30px 56px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3; */
}

.player__controls {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.player__prev {
  -webkit-transform: rotate(0deg);
transform: rotate(0deg);
display: -webkit-box;
display: flex;
position: absolute;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
cursor: pointer;
border-radius: 15px;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
margin-right: 3px;
z-index: 20;
background: #fff;
height: 35px;
width: 35px;
top: -190px;
right: 1px;
}
.player__prev:hover {
  background: #D7DCE2;
  /* height: 3.5em; */
}
.player__prev:hover svg {
  fill: #fff;
}

.player__play {
  cursor: pointer;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-right: 3px;
  position: relative;
}
.player__play:hover {
  background: #D7DCE2;
  height: 3.5em;
}
.player__play:hover svg {
  fill: #fff;
}
.player__play svg {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player__play svg.pause {
  display: none;
}

.player__next {
  cursor: pointer;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-left: -8px;
}
.player__next:hover {
  background: #D7DCE2;
  height: 3.5em;
}
.player__next:hover svg {
  fill: #fff;
}
.player__timeline {
  width: 96%;
  box-shadow: 2px 2px 2px lightgrey;
  background: #fff6fb;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  bottom: -20px;
  left: 10px;

display:none;

  /* right: 10px; */
  /* -webkit-transform: translateY(0);
          transform: translateY(0); */
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
  /* padding-left: 160px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

.player__timelineBar {
  background: #E7E7E7;
  width: 70%;
  height: 4px;
  border-radius: 15px;
  margin-top: 3px;
  /* left: 70px; */
  position: relative;
}

a{
  position: absolute;
z-index: 10;
/* bottom: -6px; */
/* left: 222px; */
display: inline;
font-size: 12px;
white-space: nowrap;
padding: 2px 6px;
border-radius: 8px;
outline: none;
color: #fff;
border: none;
letter-spacing: .6px;
text-decoration: none !important;
/* -webkit-animation: pop 2s ease-in-out infinite;
animation: pop 2s ease-in-out infinite; */
/* animation: pulse 2s infinite ease-in-out; */

/* display:none; */
bottom: 6px;
left: 38%;
/* transform: translateX(-50%); */
}

.stream:hover{
  color: #fff;
}

.stream:active{
  color: #fff;
}

/* a:hover{
  color: '#fff';
} */

@keyframes pop{
  0%  {
    transform: scale(.9);
    font-size: 6px;
    padding: 1px 2px;
    transform-origin: 50%, 50%;
    
  }
  50%  {
    transform: scale(1);
    font-size: 12px;
    padding: 2px 4px;
    transform-origin: 50%, 50%;
    -moz-transform-origin: 50%, 50%;
  }
  100%  {
    transform: scale(.9);
    font-size: 6px;
    padding: 1px 2px;
    transform-origin: 50%, 50%;
    -moz-transform-origin: 50%, 50%;
  }
}

@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}

.player #playhead {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 0;
  height: 100%;
  background: #F60C0C;
}

.player__author {
  position: relative;
  left: 70px;
  line-height: 1;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 12px;
  width: 155px;
}
.player__song {
  position: relative;
  left: -90px;
  line-height: 1;
  margin: 0;
  font-size: 11px;
  color: #949494;
  margin-top: -3px;
}


/*music notes*/
.music-notes{
  position: relative;
  top:-192px;
  left: 6px;
  
  /* display:none; */
}

.music-notes-pause{
  display: none;
}
.note-position-1 {
  top: 140px;

}

.note-position-2 {
  top: 161px;
  left: 12px;
}

.note-position-3 {
  top: 120px;
  left: 20px;
}

.note-position-4 {
  top: 155px;
  left: 37px;
}

.animation-delay-1 {
  animation-delay: 1s;
}

.animation-delay-2 {
  animation-delay: 2s;
}


.note-amination {
  position: absolute;
  font-size: 27px !important;
  animation-name: notes;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
  color: #fff;
}

@keyframes notes {
  0% {
    font-size: 20px !important;
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    font-size: 35px !important;
    margin-top: -150px;
    opacity: 0; 
  }
}
/*end of music notes*/

/*unmute text*/
  
  .unmute-text-hidden{
    display: none;
  }

  .unmute-text{
  width: 0px;
  height: 21px;
  background-color: white;
  position: absolute;
  top: 7px;
  left: 2px;
  border-radius: 2px 2px 2px 2px;
  animation-name: tap;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  overflow: hidden;
}

@keyframes tap{
  100% {width: 96px}
}
/*end of unmute text*/

.spotify{
  left: 28%;
  bottom:11px;
}

.apple{
  left: 30%;
  bottom:23px;
}